.dice{
    height: 64px;
    width: 64px;
    background: url('./agk_spritesheet_dice2.png');
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
}
#dice1 {
    background-position: 0px 0px;
}
#dice2 {
    background-position: -64px 0px;
}
#dice3 {
    background-position: -128px 0px;
}
#dice4 {
    background-position: -192px 0px;
}
#dice5 {
    background-position: -256px 0px;
}
#dice6 {
    background-position: -320px 0px;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(234,196,53);
    background: radial-gradient(circle, rgba(234,196,53,1) 0%, rgba(253,29,29,1) 100%);
}
.container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 30%;
    height: 400px;
    align-items: center;
    
}
.diceContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}
p {
    padding: 10px;
}
.user1ContainerGradient{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 0%, rgba(252,176,69,0) 100%);
    border-radius: 10px 0px 0px 10px;
    font-weight: bold;
}
.user2ContainerGradient {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(252,176,69,0) 0%, rgba(253,29,29,1) 100%);
    border-radius: 0px 10px 10px 0px;
    font-weight: bold;
}
.roll {
    background-image: url('./roll.png');
    width: 30px;
    height: 30px;
}